@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700;900&display=swap');


/**********************          Variables         **********************/

:root{
    --primaryColor: #989898;
    --primaryColorDark: #585858;
    --secondaryColor: #353535;
    --tertiaryColor: #404040;
    --accent1: #00ffd2;
    --accent1Dark: #ff00f4;
    --wrong: #ff0000;
    --titleColor: #5e5e5e;
    --titleShadow: #ffffff71;
    --dotColor: #5e5e5e;
    --dotShadow: #ffffff71;
    --buttonBorder: #9b9b9b;
    --roundBorder: #aaaaaa;
    --buttonRadial: #919191;
    --buttonRadial2: #a8a8a8;
    --roundRadial: #cacaca;
    --roundRadial2: #8a8a8a;
    --black: #000000;
}

[data-theme="dark"]{
    --primaryColor: #585858;
    --secondaryColor: #353535;
    --tertiaryColor: #404040;
    --accent1: #ff00f4;
    --wrong: #ff0000;
    --titleColor: #1f1f1fb4;
    --titleShadow: #474747;
    --dotColor: #444444;
    --dotShadow: #b6b6b68a;
    --buttonBorder: #595959;
    --roundBorder: #6e6e6e;
    --buttonRadial: #525252;
    --buttonRadial2: #656565;
    --roundRadial: #a4a4a4;
    --roundRadial2: #4a4a4a;
    --black: #000000;
}

body{
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background: var(--primaryColor);
    user-select: none; 
    position: relative;
}

h1{
    margin: 0 auto;
    z-index: 5;
}

p{
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: 100px 430px 100px;
    grid-template-rows: 1fr 40px 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 900VW;
    height: 100vh;
    background: var(--primaryColor);
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.svgBackground{
    height: 100vh;
    position: absolute;
    z-index: 1;
}


/**********************          Header         **********************/

.head{
    height: 225px;
    z-index: 5;
}

.drumpad1 {
    font-size: 83px;
    transition: all 1.2s ease;
    user-select: none;
}

.playground {
    height: 70px;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: all 1.2s ease;
    user-select: none;
}

.memory {
    height: 100px;
    font-size: 88px;
    padding-right: 10px;
    display: none;
}

.drumpad2 {
    font-size: 83px;
    margin: 0 auto;
    margin: 10px 0px;
    transition: all 1.2s ease;
    display: none;
    user-select: none;
}

.title{
    text-transform: uppercase;
    font: bold;
    background-color: var(--titleColor);
    color: transparent;
    text-shadow: 0px 1px 1px var(--titleShadow);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    z-index: 10;
}

.title:hover{
    color: var(--accent1);    
    text-shadow: 0px 0px 15px var(--accent1);
    transition: all 0.4s ease;

}

.arrowSpan{
    align-self: center;
    font-size: 90px ;
    cursor: pointer;
    transition: 0s;
    z-index: 15;
}

.fond{
    grid-column: 2 / 3;
    display: grid;
    max-width: 520px;
    grid-template-columns: repeat(5, 80px);
    grid-gap: 5px;
    padding: 5px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    border-radius: 15px;
    background: var(--secondaryColor);
    position: relative;
    z-index: 10;
}


/**********************          SkeumorphismButtons         **********************/

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border: 1px solid var(--buttonBorder);
    background: radial-gradient(circle at bottom left, var(--buttonRadial), var(--buttonRadial2));
    border-radius: 10px;
    transition: all 0.2s ease;
    /* user-select: none; */
    cursor: pointer;
}

.round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border: 1px solid var(--roundBorder);
    border-radius: 80px;
    background: radial-gradient(circle at bottom left, var(--roundRadial), var(--roundRadial2));
}

.textBut{
    width: 40px;
    font-weight: 700;
    user-select: none;     
    color: var(--dotColor);
    /* background-color: #000000; */
    /* color: transparent; */
    text-shadow: 0px 1px 1px var(--dotShadow);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}


/**********************          TextInfo         **********************/

.textDesign{
    display: flex;
    align-items: flex-start;
    color: var(--accent1);
    text-shadow: 0px 0px 5px var(--accent1);
    z-index: 10;
}

.text1{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 10px;
}

.text2{
    margin-top: 20px;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: flex-start;
}


/**********************          PlayBut         **********************/

.playBut{
    margin-left: 7px;
    padding: 0px 5px;
    font-size: 50px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    position: absolute;
    transition: all 0.5s ease;
}

.playBut:hover{
    transform: scale(1.02);
    transition: all 0.4s ease;
}


/**********************          JSclassList         **********************/

.button.active{
    text-shadow: 0px 0px 15px var(--accent1);    
    box-shadow:  2px  2px 7px var(--accent1), 
                -2px -2px 7px var(--accent1),
                 2px -2px 7px var(--accent1),
                -2px  2px 7px var(--accent1);
    transform: scale(0.90);
    transition: all 0.2s ease;
    z-index: 10;
}

.button.wrong{
    text-shadow: 0px 0px 15px var(--wrong);    
    box-shadow:  2px  2px 7px var(--wrong), 
                -2px -2px 7px var(--wrong),
                 2px -2px 7px var(--wrong),
                -2px  2px 7px var(--wrong);
    transition: all 0.2s ease;
    z-index: 10;
}

.button.active span{
    color: var(--accent1);
}


/**********************          MediaQuery         **********************/

@media (max-width: 630px) {
    .container{
        grid-template-columns: 50px 260px 50px;
        grid-template-rows: 120px 20px 1fr 1fr;
    }
    .arrowSpan{
        font-size: 50px ;
    }
    .textDesign{
        font-size: 16px;
    }
    .text1{
        font-size: 9.5px;
    }
    .fond{
        display: grid;
        grid-template-columns: repeat(3, 80px);
        grid-gap: 5px;
    }
    .drumpad1 {
        height: 57px;
        font-size: 48px;
    }
    .head{
        height: 120px;
    }
    .playground {
        height: 43px;
        font-size: 35px;
        margin-top: 10px;
    }
    .memory {
        height: 50px;
        font-size: 50px;
        margin: 0px;
    }
    .drumpad2 {
        height: 57px;
        font-size: 48px;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .textBut{
        padding-top: 8px;
    }
    .playBut{
        font-size: 40px;
    }
}
